body {
    background-color: rgb(79, 204, 127);
    text-align: center;
  }
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  p {
    color: rgb(210, 236, 66);
    text-align: center;
  }
  
  div {
    display: flex;
    border: 2px solid rgb(203, 230, 237);
    flex-direction: row;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap-reverse; */
    justify-content: space-around;
  }