body {
    background-color: rgb(217, 239, 244);
  }
  h1 {
    color: rgb(114, 9, 9);
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  p {
    color: rgb(11, 78, 3);
  }

  div {
    display: flex;
    border: 2px solid  rgb(217, 239, 244);
    flex-direction: row;
    justify-content: space-around;

  }

  .text {
    text-align: center;
  }



